.line-wrapper {
    display: flex;
}
.header {
    background-color: #181818;
}
.search {
    display: flex;
    align-items: center;
    font-size: 15px;
    border-radius: 3px;
    &__input {
        width: 170px;
        height: 25px;
        color: #b2b2b2;
        background-color: #282828;
        border: none;
        margin-left: 15px;
        &:focus {
            outline: none;
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 35px;
        background: linear-gradient(132.75deg, #f65130 1.86%, #e9941a 95.96%);
        border: none;
        outline: none;
        border-radius: 3px;
        & > svg {
            fill: #fff;
        }
    }
}
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-right: 5px;
        background-color: #131313;
    }
    &__price {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }
}
